body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
.title {
  text-align: center;
  border: 3px solid black;
  padding: 10px;
  width: 25%;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #f8f8f8;
}


button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;

}
#loadBtn {
  display: block;
  margin: 20px auto;
}
#loadBtn {
  background-color: #ff002f;   /* Blue */
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

#loadBtn:hover {
  background-color: #b30000;   /* Darker blue */
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background: #f5f5f5;
}

.edit-input {
  width: 90%;
  padding: 5px;
}
/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff; /* table background */
  border: 2px solid #333; /* outer border */
}

th, td {
  border: 1px solid #888;  /* cells border */
  padding: 12px;
  text-align: left;
}

/* Header background */
th {
  background-color: #0d6efd;
  color: white;
}

/* Table Row Hover */
tr:hover {
  background-color: #f2f2f2;
}

/* Action Buttons */
button.edit-btn {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

button.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Refresh Button */
#refreshBtn {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
